RewriteEngine on

RewriteCond %{HTTP_HOST} !^www\.ebrukaya\.me

RewriteCond %{REQUEST_URI} !src/
RewriteRule (.*) /src/$1 [L]

RewriteCond %{SERVER_PORT} 80
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteRule ^listpie$ src/projects/listpie.php
RewriteRule ^hayallerimdeben$ src/projects/hayallerimdeben.php
RewriteRule ^listpie/terms$ src/projects/terms.php

RewriteRule ^tr$ src/tr_TR/index.php
RewriteRule ^/$ src/index.php

DirectoryIndex src/index.php