@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');
body {
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #636793;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style: inside;
}

ol {
  list-style: decimal inside;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul, ul ol, ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

.title {
  font-weight: bold;
}

.container {
  padding: 60px 0;
  max-width: 800px;
}

.section {
  margin-top: 60px;
}

.section span {
  font-weight: bold;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-bottom: 4px solid #f7f7f7;
}

.section-title.projects {
  border-bottom: 4px solid #fca553;
}

.section-title.career {
  border-bottom: 4px solid #4f99d6;
}

.section-title.tech-stack {
  border-bottom: 4px solid #413f3f;
}

.section-title.personal {
  border-bottom: 4px solid #ad6a5e;
}

.current-projects, .past-projects {
  margin-top: 5px;
}

.quote {
  font-size: 17px;
}

.social {
  margin-bottom: -20px;
}