@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');
body {
  font-size: 17px;
  line-height: 1.7;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #707070;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style: none;
}

ol {
  list-style: decimal inside;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul, ul ol, ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

/* Larger than phone */

@media (min-width: 400px) {
  h1 {
    font-size: 5.0rem;
  }
  h2 {
    font-size: 4.0rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 2.7rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

.title {
  font-weight: bold;
}

.container {
  padding: 80px 0;
  max-width: 740px;
}

.section {
  margin-top: 60px;
}

.section span {
  font-weight: bold;
}

.section-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-bottom: 4px solid #413f3f;
}

/* .section-title.projects {
  border-bottom: 4px solid #fca553;
}

.section-title.career {
  border-bottom: 4px solid #4f99d6;
}

.section-title.tech-stack {
  border-bottom: 4px solid #413f3f;
}

.section-title.personal {
  border-bottom: 4px solid #ad6a5e;
} */

.current-projects, .past-projects {
  margin-top: 5px;
}

.quote {
  font-size: 18px;
}

.social {
  margin-bottom: -20px;
}

.footer {
  font-size: 15px;
  border-top: 4px solid #eee;
  margin-top: 60px;
  padding-top: 20px;
  text-align: right;
}

tech {
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  padding: 3px 8px;
  background: #f7f7f7;
}

.skills {
  line-height: 2.4;
}

.to-learn-list {
  font-size: 16px;
  margin-top: 20px;
  padding-left: 20px;
  font-style: italic;
  border-left: 3px solid #ddd;
}

.year-date {
  color: #888;
  font-size: 15px;
}